
.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 1px;

}
.div1 {
    background: #f6cdd2;
    color: #bb4b4b;
    border: solid rgb(207, 118, 118);
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    padding: 20px
}
.div2 {
    background: #d2e4ff;
    color: #5a7bd3;
    border: solid;
    padding: 20px
}
.div3 {
    background: #c0edc5;
    color: #2d6b39;
    border: solid;
    padding: 20px;

}
strong {
    font-size: 22px
}